<%= form_with(model: csv_file, local: true) do |form| %>
  <% if csv_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(csv_file.errors.count, "error") %> prohibited this csv_file from being saved:</h2>

      <ul>
      <% csv_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.file_field :attachment, :class => 'btn btn-outline-info btn-sm' %>
  <br>
  <br>

  <div class="actions">
    <%= form.submit 'Submit', :class => 'btn btn-info btn-sm' %>
  </div>
<% end %>
